body {
	background-color: black;
}

/*
*{
	outline: red 1px solid;
}
*/
@font-face {
	font-family: press-start;
	src: url('../font/PressStart2P.ttf');
}
.instructions {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    right: 10px;
    z-index: 2;
}
.instructions p {
	width: 400px;
	color: white;
	font-family: press-start;

}
audio {
	display:none;
}
.sf-logo {
	top: 200px;
	right: 10px;
	position: absolute;
	z-index: 2;
}
.main {
	background-image: url('../images/streetfighter-bg.gif');
	background-size: cover;
	/*background-color: white;*/
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	float: left;
	padding-top: 30px;
	width: 659px;
	height: 464px;
}
.ryu-ready, .ryu-still, .ryu-throwing .ryu-cool {
	padding-top: 30px;
	width: 659px;
	height: 464px;
}

.ryu-ready, .ryu-throwing .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);	
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing .ryu-cool {
	background-repeat: no-repeat;
	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
/*	display: none; */
	float: left;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 420px;
	float: left;
}
footer {
	color: white;
	text-align: center;
	font-family: 'Oswald';
}